*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Nav bar Starts From Here */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
}

.navbar-logo {
    font-size: 20px;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.contact-us {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.contact-us:hover {
    background-color: #777;
}

.menu-icon {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: 0.3s;
    overflow-x: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .contact-us {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .sidebar {
        display: block;
        width: 0;
    }

    .sidebar.active {
        width: 250px;
    }
}

/* Nav bar Ends Here */

.hero-section {
    position: relative;
    width: 100%;
    height: 80vh; /* Full viewport height */
    background: url('Assets/Hero-img.jpg') no-repeat center center;
    background-size: cover; /* Make sure the image covers the entire section */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.801); /* Dark overlay with 50% opacity */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 60%;
    /* background-color: red; */
}

.hero-content h1 {
    font-size: 2.8rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.4rem;
    margin: 10px 0 0;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 0.875rem;
    }
}
